.homePage {
  background-image: url("https://i.pinimg.com/originals/4a/0e/dc/4a0edc9d9491a67869dcc6df325f04b0.jpg");
  background-size: 1900px;
  z-index: -99999;
}

.pokedex {
  display: flex;
  flex-direction: column;
  height: 975px;
  background-color: black;
  background: url("../imagens/pokedex.png") no-repeat;
  margin-left: 20%;
}

.input-pesquisa {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 500px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  /*  border: 2px solid chartreuse; */
}

.pokedex label {
  width: 300px;
  /*  border: 2px solid chartreuse; */
  color: chartreuse;
}
.input-pesquisa input {
  font-size: 15px;
  border: 2px solid chartreuse;
  border-radius: 4px;
  background-color: black;
  color: chartreuse;
}

label:nth-child(2) {
  animation: type2 8s steps(60, end);
}

label {
  color: lime;
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

::selection {
  background: black;
}
.tela-principal {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  background: rgb(0, 0, 0);
  overflow-y: scroll;
  margin-left: 20px;
}

form {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  width: 625px;
  height: 465px;
  display: flex;
  align-items: center;
  background-color: brown;
}
